html{
    background: no-repeat;
    background-image: url("pian.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
    
}
li {
    display: inline;
    float: left;
    
   
    }
li a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    display: block;
    border: solid #535353 2px;
    
    
}
          
a {
    margin: 0px;
    padding: 0px;
    width: 190px;
    display: flex;
    background-color: #000000;
    text-decoration: none;
}
li a:hover{
background-color: #535353;
}   
html{
    background-color: #000000;
}

main .PR2{
    color: rgb(255, 255, 255);
}


.salir{
    display: flex ;
    justify-content: center;
    padding-right: 150px;
    padding-top: 650PX;
    margin: auto;
    text-align: center;
}

