li {
    display: inline;
    float: left;
    
   
    }
li a{
    color: rgb(8, 243, 0);
    padding: 500px 205px;
    text-align: center;
    display: block;
    border: solid #535353 2px;
    
    
}
          
a {
    margin: 0px;
    padding: 0px;
    width: 500px;
    display: block;
    background-color: #000000;
}
li a:hover{
background-color: #535353;
}   
html{
    background-color: #000000;
}
