html{
    background-image: url(imagenes/fondo2.jpg);
    
}

li {
    display: inline ;
    float:left ;
    margin-left: 80px;
}
.p a{
    color: rgb(255, 255, 255);
    padding: 100px 30px;
    text-align: center;
    display: block;
    border: solid #000000 5px;
    background-image: url("imagenes/piano2.jpg");
    background-size: cover;
    margin-top: 200px;
    
    
}
.p a:hover{
    transition: 0.7s;
    transform: scale(0.9);
    opacity: 0.8;
}
.g a{
    color: rgb(255, 255, 255);
    padding: 100px 30px;
    text-align: center;
    display: block;
    border: solid #000000 5px;
    background-image: url("imagenes/g.jpg");
    background-size: cover; 
    margin-top: 200px; 
}
.g a:hover{
    transition: 0.7s;
    transform: scale(0.9);
    opacity: 0.8;
}

.A a{
    
    color: rgb(255, 255, 255);
    padding: 100px 30px;
    text-align: center;
    display: block;
    border: solid #000000 5px;
    background-image: url("imagenes/pian.jpg");
    background-size: cover;  
    margin-top: 200px;
}
.A a:hover{
    transition: 0.7s;
    transform: scale(0.9);
    opacity: 0.8;
}
.G a{
    
    color: rgb(255, 255, 255);
    padding: 100px 30px;
    text-align: center;
    display: block;
    border: solid #000000 5px;
    background-image: url("imagenes/guit.jpg");
    background-size: cover;  
    margin-top: 200px;
}
.G a:hover{
    transition: 0.7s;
    transform: scale(0.9);
    opacity: 0.8;
}
          
a {
    
    margin: 0px;
    padding: 0px;
    width: 300px;
    display: block;
    background-color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}
li a:hover{
background-color: #ffffff;
}   
html{
    background-color: #ffffff;
}


