html{
    background: no-repeat;
    background-image: url("guit.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
    
}

li {
    display: inline;
    float: left;
    
   
    }
li a{
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    display: block;
    border: solid #535353 2px;
    
    
}
          
a {
    margin: 0px;
    padding: 0px;
    width: 170px;
    display: flex;
    background-color: #000000;
}
li a:hover{
background-color: #535353;
}   
html{
    background-color: #000000;
}
