*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .conteiner{
    width: 300px;
    height: 300px;
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
    margin-top: 250px;
    margin-right: 920PX;

  }
  html{
    background-image: url(imagenes/ini.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;

  }
  
  form {
    width: 100px;
    margin-top: 50px;
    margin-left: 45px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }
  input {
    margin-bottom: 10px;
    display: block;
    height: 35px;
    padding: 10px;
    border: solid rgb(0, 0, 0) 5px;
    border-radius: 30px;
  }
  
  button {
    padding: 5px;
    background: rgb(141, 141, 141);
    height: 45px;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border:solid black 2px;
  }
  
  .inicio_sesion{
    text-align: center;
    width: 200px;
    margin-bottom: 5px;
  }
  .registrarse{
    text-align: center;
    width: 200px;
  }